body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px;
    color: #444;
}
h2 {
    text-align: center;
    margin-top: 40px;
    color: #444;
}

h3 {
    text-align: center;
    margin-top: 30px;
    color: #444;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.graph-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
}

.result-container {
    text-align: center;
    padding: 20px;
    background: #fff;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

a {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.image-container {
    text-align: center;
    margin: 20px 0;
}

.titanic-image {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
